# Ignore all subfolders in QDSoftware
# Done to avoid saving custom results
/src/*/

# Do NOT ignore important folders
!/src/raytracer/
!/src/input/
!/src/utils/
!/src/examples/
!/src/visualizer/

# Ignore cached files
**/cachedCadOutput.mat

# Ignore profile results
**/profile_results*

## Useless/temporary files to ignore
# MATLAB
*.asv
*.m~

# MATLAB's apps
*.mlapp
